DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PSSW=your_db_password
DB_NAME=your_db_name

SECRET_KEY=your_jwt_secret_key

INVITE_TOKEN_EXPIRES_HOURS=
RESET_PASSWORD_EXPIRES_MINUTES=
EMAIL_CHANGE_CODE_EXPIRES_MINUTES=

RESEND_API_KEY=your_resend_api_key
MAIL_FROM=
MAIL_FROM_NAME=

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=587
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=